github "granoff/Strongbox"
github "Codeido/PMAlertController" == 4.0.0
github "danielgindi/Charts" "v3.2.1"
github "coinninjadev/CNBitcoinKit.git" == 1.0.1
github "mxcl/PromiseKit" == 6.8.4
github "SwiftKickMobile/SwiftMessages" == 7.0.0
github "cntrump/Gifu"
github "OAuthSwift/OAuthSwift" ~> 1.3.0
